
/*---------------------Header--------------------*/

.header{
    padding: 3rem;
}
.footer{
     padding: 3rem;
}
---------------------------------------------------- PAGINAS -----------------------------------------------*/

/*----------------Pagina Index-------------------*/


/*------Main Index---------*/
.main__input-search{
    padding: 1.5rem;
}

/*----------------Pagina Nosotros-------------------*/

/* Main Nosotros*/
.main-us__paragraph{
    font-size:2rem;
}



