/*----Variables----*/


:root{
    --blue: #38B6FF;
    --hover-color:#0064a9;
    --white: #ffffff;
    --font: 'PT Sans', sans-serif;
    --bg-color:#000030;
    --blueO: #38B6FF;
    --hover-color:#0064a9;
    --black: #000000;
}


/*----Generales----*/

*, *:before, *:after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}
html {
    box-sizing: border-box;
    font-size: 62.5%; /* 1 rem = 10px */    
}
body{
    display: flex;
    flex-direction: column;
    background-color: var(--bg-color);
    min-height: 100vh;
    font-family: var(--font);
}
h1{
    font-size: 3rem;
    text-align: center;
    margin-bottom: 4rem;
    color: var(--white);
}
h2{
    color: var(--white);
    font-size: 2.5rem;
}
figcaption{
    font-size: 2rem;
}
p{
    font-size: 2rem;
    font-family: var(--font);
    color: var(--white);
}
/*----Utilidades----*/ 



.container{
    width: 90%;
    margin:auto auto;

}


/*--------------------------------Header y Footer----------------------------*/


/*-------------Header-------------*/
.header{
    padding: 1.2rem 2rem;
    background-color: black;
    margin-bottom: 4rem;
}
.header__figure{
    display: flex;
    justify-content: center;
}

.header__link{
    display: block;
    text-decoration: none;
    color: var(--white);
    border-radius: 0.5rem;
    margin: 0 1.2rem;
    padding: 1rem 3rem;
    font-size: 2rem;
    font-family: var(--font);
    font-weight: bold;
    transition: background-color 0.3s;
    text-align: center;
}

@media (min-width: 768px) {
    .header__nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .header__links{
        display: flex;
    }
    .header__link{
        background-color: var(--blue);
    }
    .header__link:last-child{
        margin-right: 0;
    }
    .header__link:hover{
        background-color: var(--hover-color);
    }
    .header__figure img{
        width: 25rem;
    }
}


/*------------Footer--------------**/
.footer{
    padding: 1.2rem 2rem;
    background-color: black;
    margin-top: auto;
}
.footer__contact{
    display: flex;
    justify-content: center;
    margin: 2rem 0;
}
.footer__link{
    text-decoration: none;
    padding: 1rem 3rem;
    color: var(--white);
    text-align: center;
    border-radius: 0.5rem;
    font-size: 2rem;
    font-family: var(--font);
    font-weight: bold;
    transition: background-color 0.3s;
    background-color: var(--blue);
}

.footer__paragraph{
    text-align: center;
}
.footer__image{
    display: flex;
    justify-content: center;
}

@media (min-width: 768px) {
    .footer__container{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    .footer__contact{
        display: flex;
        align-items: center;
        justify-content: end;
        grid-column: 2 /3;
    }
    .footer__image{
        justify-content: start;
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }
    .footer__paragraph{
        text-align: right;
        color: var(--white);
    }
    .footer__ubication{
        grid-row: 2 / 3;
        grid-column: -2 / -1;
    }
    .footer__image img{
        width: 25rem;
    }

}
/*---------------------------------------------------- PAGINAS -----------------------------------------------*/


/* ------------------ Pagina Index ------------*/


/*----Main Pagina Index----*/
.main__h1{
    font-size: 3rem;
    margin-bottom: 2rem;
}
/* Tab */
.active{
    box-shadow: inset 0 -2px 0 0 var(--white);
}
.main__tab{
    display: flex;
    justify-content: center;
    gap: 10rem;
}
.main__tab button{
    background-color: var(--fuenteParrafos);
    color: var(--white);
    border: none;
    cursor: pointer;
    padding: 1rem 2rem;
    font-size: 2rem;
    font-family: var(--font);
}
.main__tab button:hover{
    box-shadow: inset 0 -2px 0 0 var(--white); 
}
.main__tab button.active{
    box-shadow: inset 0 -2px 0 0 var(--white);;
}
.main__tabcontent{
    padding: 6rem 2rem;
}
/* Fin Tab */

/* Catalogo Peliculas*/
.main__search{
    display: grid;
    justify-content: center;
    margin-bottom: 2rem;
    row-gap: 1.5rem;
}
.main__input-search{
    border-radius: 1rem;
    padding: 1rem;
    font-family: var(--font);
    width: 30rem;
    font-size: 2rem;
}
.main__input-search::placeholder{
    color: black;
}
.main__input-button{
    color: var(--white);
    background-color: var(--blue);
    font-family: var(--font);
    border: none;
    padding: 1rem;
    border-radius: 0.5rem;
    font-weight: bold;
    width: 30rem;
    font-size: 1.5rem;
    transition: backgroud-color 0.3s;
}
.main__input-button:hover{
    cursor: pointer;
    background-color: var(--hover-color);
}
.main-movies{
    display: grid;
    gap:3rem;
    margin-top: 2rem;
    margin-bottom: 8rem;
}
.main-movies__figure{
    text-align: center;
    padding: 0.5rem;
    font-weight: bold;
    color: var(--white);
}
.main-movies__figure img{
    width: 30rem;
    max-height: 40rem;
    border-radius: 1rem;
    transition: filter 0.3s;
}
.main-movies__figure img:hover{
    cursor: pointer;
    filter: brightness(40%);

}
/* Fin  Peliculas*/

/* Estrenos */
.main__movies-premiere{
    display: grid;
}
.main__movie-premiere-title{
    text-align: center;
    padding: 1rem;
    font-size: 2.5rem;
    color: var(--white);
}
.main__movie-premiere{
    padding: 5rem;
}
.main__movie-premiere:not(:last-child) {
    border-bottom: 1px solid var(--white);
}
.main__movie-premiere-figure
{
    display: grid;
    justify-items: center;
    align-items: center;
}

.main__movie-premiere img{
    width: 30rem;
    max-height: 40rem;
    border-radius: 1rem;
}
.main__movie-premiere figcaption{
    color: var(--white);
    text-align: left;
    padding: .8rem

}
.main__movie-premire-date{
    color: var(--blue);
    text-align: right;
    padding: .8rem;
    font-size: 2rem;
}
/* Fin Estrenos */

/* Media Queries para Peliculas catalogo y estrenos*/
@media (min-width: 768px) {
    .main__search{
        display: flex;
        gap:2rem
    }
    .main__input-search{
        border-radius: 1rem;
        padding: .5rem;
        font-family: var(--font);
        font-size: 2rem;
        width: 40%;
    }
    .main__input-button{
        
        font-size: 2rem
    }
    .main-movies{
        grid-template-columns: repeat(2, 1fr);
    }
    .main-movies__figure{
        padding: 2rem;
    }
    .main__movies-premiere{
        row-gap: 3rem;
    }
    .main__movie-premiere{
        grid-template-columns: repeat(2, 1fr);
    }
    .main__movie-premiere-figure{
        grid-template-columns: repeat(2,1fr);
    }
    .main__movie-premiere img{
        width: 35rem;
        height: 70rem;
        max-height: 40rem;
        border-radius: 1rem;
    }
    .main__movie-premiere-title{
        font-size: 3rem;
    }

}
@media (min-width: 1280px) {
  
    .main-movies{
        grid-template-columns: repeat(3, 1fr);
    }


}
/* Fin Media Queries para Peliculas catalogo y estrenos*/
/*--------------Pagina Nosotros------------------*/



 /* -----------Nosotros Main------------ */
.main-us__figure{
    margin-bottom: 4rem;
    margin-top: 2rem;
    
}
.main-us__figure img{
    max-width: 100%;
    border-radius: 1rem;
}
.main-us__paragraph{
    color: var(--white);
    text-align: center;
}
@media (min-width: 768px) {
    .main-us__figure{
        max-width: 80%;
        grid-template-columns: repeat(2, 1fr);
        margin: auto;
    }
    .main-us__figure{
        display: grid;
        justify-content: center;
        align-items: center;
        margin-bottom: 2rem;
        margin-top: 2rem;
        gap: 2rem;
        
    }
    .main-us__paragraph{
        font-size: 1.5rem;
    } 
    
}

/* ------------- Pagina Soporte -------------------*/

/*---------- Main Soporte --------------*/
.main-support{
    display: grid;
    gap:2rem;
    justify-content: center;
}
.main-support__container{
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}
.main-support__networks, .main-support__othermedia{
    display: flex;
    flex-direction: column;
    gap:5rem;
    border: 2px solid black;
    padding: 4rem;
    width: 100%;
    align-items: center;
}
.main-support__network, .main-support__media{
    display: flex;
    align-items: center;
    gap:1.5rem;
    padding: 2rem;
}
.main__support-network-link{
    text-decoration: none;
    font-family: var(--font);
    font-size: 1.4rem;
    color: var(--white);
    width: 5rem;
}
.main__support-link-media{
    text-decoration: none;
    font-family: var(--font);
    font-size: 1.4rem;
    color: var(--white);
    width: 10rem;
}
.main__support-link-media:hover{
    text-decoration: underline;
    font-family: var(--font);
    color: var(--white);
}
.main__support-link-network:hover{
    text-decoration: underline;
    font-family: var(--font);
    color: var(--white);
}
@media (min-width: 768px) {
    .main-support{
        grid-template-columns: repeat(2,1fr);
    }
}
/*------------------------- Pagina Login --------------------------*/

/* --------Main Login--------- */
.form{
    display: grid;
    gap: 2rem;
    justify-content: center;
    margin-top: 2rem;
}
.form__field{
    display: flex;
    line-height: 2;
}
.form__button{
    display: flex;
    justify-content: end;
    margin-bottom: 2rem;
    gap: 2rem;
}
.form__label{
    font-size: 2rem;
    color: var(--white);
    margin-right: 2rem;
    flex:6;
}
.form__input{
    flex: 2;
    border-radius: 0.5rem;
}
.form__link{
    display: flex;
    justify-content: center;
}
.form__link-pswd{
    color: var(--white);
    font-size: 1.5rem;
    text-decoration: none;

}
.form__button-login{
    color: var(--white);
    background: linear-gradient(0deg, rgba(6,39,42,1) 0%, rgba(0,0,0,1) 100%);
    font-family: var(--fuenteParrafos);
    border: none;
    border-radius: 0.5rem;
    padding: 1.2rem 3.5rem;
    font-weight: bold;
    font-size: 1.7rem;
}
.form__button-login:hover{
    cursor: pointer;
}